body {
	background: rgba(0,0,0,0.9);
	max-width: 100%;
}

.wrap {
	width: 480px;
	height: 100vh;
	max-width: 100%;
	max-height: 100vh;
	margin: 0 auto;
	overflow: hidden;
}

.appMain {
	width: 100%;
	max-width: 100%;
	height: 100vh;
	position: absolute;
}

.appAdmin, .locAdmin {
	display: none;
}

.appAdmin.activated, .locAdmin.activated {
	width: 480px;
	max-width: 100%;
	height: calc(100vh - 75px);
	position: absolute;
	top: 45px;
	display: block;
	background-color: white;
	z-index: 999;
	padding: 20px;
}

.appAdmin.activated a, .locAdmin.activated a {
	color: black;
	text-decoration: none;
}

#map1 {
	height: calc(100vh - 45px);
	width: 480px;
	max-width: 100%;
	margin: 0;
	position: absolute;
	top: 45px;
}

.direct {
	height: 200px;
	max-height: 200px;
	width: 480px;
	max-width: 100%;
	margin: 0;
	position: absolute;
	bottom: 0;
	background-color: rgba(255,255,255,1);
	overflow: auto;
}

.header {
	width: 480px;
	max-width: 100%;
	height: 45px;
	background: rgba(0,0,0,0.8);
	padding: 10px;
}

.stack {
	width: 20px;
	height: 25px;
	background-color: rgba(0,0,0,1);
	cursor: pointer;
}

.stackbar {
	width: 20px;
	height: 4px;
	background-color: rgba(255,255,255,1);
	display: block;
	position: absolute;
	margin: 0;
}

.stackbar.open {
	background-color: rgba(190,190,190,1);
}

.stackbar.top {
	margin-top: 1px;
}

.stackbar.mid {
	margin-top: 11px;
}

.stackbar.btm {
	margin-top: 21px;
}

.find {
	width: calc(100%-35px);
	margin-top: -25px;
	margin-left: 25px;
	display:block;
	position:relative;
	height: 35px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 0;
	white-space: nowrap;
	width: auto;
}

.search-left {
	background: rgba(255,255,255,1);
	position: relative;
	height: 25px;
	float: left;
	width: 20px;
	display: inline-block;
	white-space: nowrap;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.search-right {
	position: relative;
	height: 25px;
	min-width: 1px;
	width: 25px;
	float: right;
	display: inline-block;
	white-space: nowrap;
	background: rgba(255,255,255,1);
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.search-fill {
	overflow: hidden;
	background: rgba(255,255,255,1);
	height: 25px;
	position: relative;
	white-space: nowrap;
	display: block;
	width: auto;
}

.cancel-search.open {
	display: block;
	width: 19px;
	height: 19px;
	margin: 3px;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.3);
	background-image: url(../images/close-10.png);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.search-icon {
	display: block;
	width: 16px;
	height: 16px;
	margin: 4px;
	background-image: url(../images/mag-16.png);
	background-repeat: no-repeat;
	background-position: center;
}

.search-body {
	width: 480px;
	max-width: 100%;
	height: calc(100% - 30px);
	padding: 20px;
	position: absolute;
	background: rgba(0,0,0,0.85);
	display: none;
	overflow: scroll;
}

.searching {
	-webkit-animation: fadeIn 0.2s;
  	-webkit-animation-timing-function: ease-out;
  	-moz-animation: fadeIn 0.2s;
  	-moz-animation-timing-function: ease-out;
  	animation: fadeIn 0.2s;
  	animation-timing-function: ease-out;
	display: block;
}

.loc-suggestions {
	color: white;
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

.loc-suggestions li {
	height: 50px;
	color: white;
	border-bottom: 1px solid rgba(180,180,180,0.5);
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.menu {
	position: absolute;
	width: 340px;
	height: calc(100% - 75px);
	background: rgba(0,0,0,0.85);
  	-webkit-animation: open 0.2s;
  	-webkit-animation-timing-function: ease-out;
  	-moz-animation: open 0.2s;
  	-moz-animation-timing-function: ease-out;
  	animation: open 0.2s;
  	animation-timing-function: ease-out;
	margin-left: -340px;  
	z-index: 990;
  }

.menu.open {
  	-webkit-animation: close 0.2s;
  	-webkit-animation-timing-function: ease-out;
  	-moz-animation: close 0.2s;
  	-moz-animation-timing-function: ease-out;
  	animation: close 0.2s;
  	animation-timing-function: ease-out;
  	margin-left: 0;
}

.menu a {
	text-decoration: none;
	color: white;
	font-weight: 700;
}

.menuBack a {
	font-weight: 400;
	color: rgba(255,255,255,0.6);
}

.menuList, .accountList {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	width: 280px;
	max-width: 100%;
	display: default;
}

.menuList li, .accountList li {
	height: 60px;
	border-bottom: 1px solid rgba(180,180,180,0.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.menuList.hiding {
	display: none;
}

.accessAccount {
	display: none;
}

.accountBtn {
	height: 25px;
	border-radius: 4px;
	display: inline-block;
	font-size: 14px;
	padding: 2px 8px;
	margin-right: 2px;
	margin-left: 2px;
	cursor: pointer;
}

.accountBtn.login {
	background-color: rgba(0,177,136,1);
}

.accountBtn.create {
	background-color: rgba(160,75,158,1);
}

.expanding.open {
	height: 70px;
}

.accessAccount.open {
	display: block;
	width: 280px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.appTitle {
	position: absolute;
	width: 340px;
	max-width: 100%;
	bottom: 10px;
	left: 10px;
	color: rgba(160,75,158,0.8);
	text-align: center;
	font-weight: 700;
}

.footer {
	position: absolute;
	bottom: 0;
	height: 35px;
	width: 100%;
}

.opts {
	display: flex;
	flex-direction: row;
	bottom: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	max-width: 480px;
	height: 35px;
	background: rgba(0,0,0,0.8);
/*	border: 2px solid white;*/

}

.opts-button {
	width: 50%;
	height: 35px;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
}

.mode {
	background: rgba(255,255,255,0.5);
	color: black;
	cursor: default;
	border-bottom: 2px solid rgba(255,255,255,0.6);
}

.search {
	outline: 0;
	border: none;
	width: 100%;
}

@-webkit-keyframes open {
  0%
  { margin-left: 0;}
  100%
  { margin-left: -340px;}
}

@-moz-keyframes open  {
  0%
  { margin-left: 0;}
  100%
  { margin-left: -340px;}
}

@keyframes open {
  0%
  { margin-left: 0;}
  100%
  { margin-left: -340px;}
}

@-webkit-keyframes close {
  0%
  { margin-left: -340px;}
  100%
  { margin-left: 0;}
}

@-moz-keyframes close  {
  0%
  { margin-left: -340px;}
  100%
  { margin-left: 0;}
}

@keyframes close {
  0%
  { margin-left: -340px;}
  100%
  { margin-left: 0;}
}

@-webkit-keyframes fadeIn {
  0%
  { opacity: 0;}
  100%
  { opacity: 1;}
}

@-moz-keyframes fadeIn  {
  0%
  { opacity: 0;}
  100%
  { opacity: 1;}
}

@keyframes fadeIn {
  0%
  { opacity: 0;}
  100%
  { opacity: 1;}
}